[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pypi"

[packages]
aiogram = "==2.24"
environs = "==9.5.0"
aiohttp = "==3.8.3"
sqlalchemy = "==1.4.46"
asyncpg = "==0.27.0"
loguru = "==0.6.0"
pydantic = "==1.10.4"
alembic = "==1.9.2"
aiohttp-client-cache = "==0.8.1"
emoji-country-flag = "==1.3.1"
apscheduler = "==3.9.1.post1"

[dev-packages]
autoflake = "==2.0.0"
autopep8 = "==2.0.1"
isort = "==5.11.4"
black = "==22.6.0"
flake8 = "==6.0.0"
flake8-bugbear = "==22.12.6"
flake8-quotes = "==3.3.2"
flake8-tidy-imports = "==4.8.0"
flake8-docstrings = "==1.6.0"
flake8-simplify = "==0.19.3"
mypy = "==0.961"
types-python-dateutil = "==2.8.19.2"
types-pytz = "==2022.7.1.0"
pre-commit = "==2.21.0"

[requires]
python_version = "3.9"
